<!-- // * Have localhost:7077/cars go to a simple HTML page that shows some cool pictures of different cars, stored locally.
// * Have localhost:7077/cats show a simple HTML page with some cool pictures of cats, stored locally.
// * Have localhost:7077/cars/new   show a simple form where the user can add a new car information. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <title>Cars Page</title>

</head>

<body>
<div class="container">

    <!-- everything that goes in container  here -->

    <div class="jumbotron banner2">
        <h1 class="display-4 text-white">All About Cars</h1>
        <p class="lead text-white">cars, cars and more cars</p>
        <p>You can never have too many cars...</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="cars/new" role="button">add another car</a>
          </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="cats" role="button">rather have a cat?</a>
        </p>
      </div>

      <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/car2.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/car3.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/car4.jpg" /></div>
            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="/images/car5.jpg" /></div>
    </div>

<!-- rule and footer  for every page -->
    <hr>
    <footer>
        <p>&copy; Kalkulations 2018</p>
    </footer>

</div> <!-- end container div -->

<!-- Optional JavaScript for bootstrap would go here-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>